.App{
    display: grid;
    justify-content: center;
    align-items: center;

}


.postcard{
    padding: 20px;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
   

}

.usercard{
    display: grid;
    justify-content: center;
    justify-items: center;
    margin-bottom: 10px;
    border: 1px;
    border-color: black;
    border-radius: 50%;
}

.refresh-button{
    margin-left: 40%;
    margin-bottom: 20px;
    width: 100px;
    background-color: aqua;
    border: none;
    cursor: pointer;
    border-radius: 25px;
    transition: background-color 0.3s ease;
}

.user-img{
    width: 150px;
    height: 150px;
    border-radius: 50%;
}